

body{
}

.navbar{
  border-radius:0;
  border: none;

}

.navbar-nav a i, h3{
  color: #4889dd;;
}

.animals{
  display: inline block;
  width:300px;
  border: 1px solid black;
}

.animals img{
  width:200px;
  height:auto;
  border: 1px solid black;
}

.animal-card{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.delete-edit{
  text-align:right;
  padding-right:30px;
}

.delete-edit form{
  display:inline-block;
  padding:0 15px;
}

.page-header{
  text-align: center;
}

.glyphicon.glyphicon-plus{
  font-size: 25px;
}

.landing-page-col{
  padding-top: 35px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  min-height: 250px;
}

.landing-page-col h3{
  color: #e67c50;
}

.landing-page-img{
  width: 60%;
  height:60%;
}
.fact-list{
  padding-top: 25px;
}

.facts span{
  padding-right:10px;
  color:#e67c50;
}

.details-page{
  width:90%;
  height:90%;
}
