extends ../../layouts/master
block content
  h3 Animals Available
  button.btn.btn-default
    a(href='animals/new')
      span.glyphicon.glyphicon-plus
  
  #filter
    form(method='get', action='/animals')
      label Min Age
      input(type='number' name='min')
      label Max Age
      input(typ='number' name='max')
      label Gender
      select(name='gender')
        option
        option male
        option female
      label Species
      select(name='species')
        option 
        option Dog
        option Cat
        option Frog
        option Snake
      label Breed
      input(type='text', name='breed')
      button(type='submit') Filter
        
  .row
    each animal in animals
      .col-sm-6.landing-page-col
        a(href='/animals/#{animal._id}')
          img.landing-page-img.img-circle.img-responsive(src='#{animal.photo}')
        h3 #{animal.name}
                  

  
    
