extends ../../layouts/master
block content
  h3 Animals Available
  button.btn.btn-default
    span.glyphicon.glyphicon-plus
    a(href='animals/new') Add A New Pup!

  .row
    each animal in animals
      .col-sm-6.landing-page-col
        a(href='/animals/#{animal._id}')
          img.landing-page-img.img-circle.img-responsive(src='#{animal.photo}')
                  

  
    
