extends ../../layouts/master
block content
  h3 Add A New Animal
  .row
    .col-xs-8
      form(method='post', action='/animals').form-horizontal
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', name='name' placeholder="Rosco" required autofocus=true)
        .form-group
          label(for='photo') Image
          input#image.form-control(type='url', name='photo' placeholder="http://....")
        .form-group
          label Gender
          .radio
            label
              input(type='radio', name='gender' value='male')
              span Male
          .radio
            label
              input(type='radio', name='gender' value='female')
              span Female
        .form-group
          label(for='spcecies') Species
          select#species.form-control(name='species')
            option Dog
            option Cat
            option Frog
            option Snake
        .form-group
          label(for='age') Age
          input#age(type='number', name='age' placeholder="4?")
        .form-group
          label(for='breed') Breed
          input#breed(type='text', name='breed' class='form-control' placeholder="Terrior?")
        .form-group
          label(for='description') Description
          textarea#description.form-control(type='text', name='description' placeholder="Terrior?")
        .form-group
          button.btn.btn-default(type='submit') Submit
      
            
