extends ../../layouts/master
block content
  .row
    .col-xs-offset-2.col-xs-8
      h3 Add A New Animal
      form(method='post', action='/animals').form-horizontal
        .form-group
          input#name.form-control(type='text', name='name' placeholder="Enter Pet's Name" required autofocus=true)
        .form-group
          input#image.form-control(type='url', name='photo' placeholder="Image http://...")
        .form-group
          select#gender.form-control(name='gender')
            option(value='') Gender
            option Male
            option Female
        .form-group
          select#species.form-control(name='species')
            option(value='') Species
            option Dog
            option Cat
            option Frog
            option Snake
        .form-group
          input#age.form-control(type='number', name='age' placeholder="Enter Age")
        .form-group
          input#breed.form-control(type='text', name='breed' class='form-control' placeholder="Enter Breed")
        .form-group
          textarea#description.form-control(type='text', name='description' placeholder="Breif Description")
        .form-group
          button.btn.btn-default(type='submit') Submit
      
            
