extends ../../layouts/master
block content
  h3 Clients
  button.btn.btn-default
    a(href='clients/new')
      span.glyphicon.glyphicon-plus
        
  .row
    each client in clients
      .col-sm-6.landing-page-col
        a(href='/clients/#{client._id}')
          img.landing-page-img.img-circle.img-responsive(src='#{client.photo}')
        h3 #{client.name}
