extends ../../layouts/master
block content
  h3 Current Clients
  a(href='clients/new') Add Client
  
  .row#clients
    each client in clients
      .col-xs-4
        .row
          a(href='/clients/#{client._id}')=client.name
          img.img-responsive(src='#{client.photo}')
          
