extends ../../layouts/master
block content
  .row
    .col-xs-offset-2.col-xs-8
      h3 Add New Client
      form(method='post', action='/clients').form-horizontal
        .form-group
          input#name.form-control(type='text', name='name', autofocus=true, placeholder='Enter Name')
        .form-group
          input#image.form-control(type='url', name='photo' placeholder="Image http://...")
        .form-group
          input#zip.form-control(type='number' name='zip', placeholder='Enter Zip')
        .form-group
          input#state.form-control(type='text', name='city', placeholder='Enter City')
        .form-group
          input#state.form-control(type='text', name='state', placeholder='Enter State')
        .form-group
          input#address.form-control(type='text', name='address', placeholder='Enter Address')
        .form-group
          button.btn.btn-default(type='submit') Submit
        
        
 
